<h1>Create Post page</h1>
<form action="/shaikhzuber2000@gmail.com/create/new" method="POST">
    <input type="text" name="post" id="" value="">
    <input type="text" name="postNumber" id="" value="" hidden>
    <input type="submit" name="create" id="" value="create">
    <a href="/shaikhzuber2000@gmail.com" 
       onclick="return confirm('Cancel creating a post?')">cancel</a>
</form>