<%- include("partials/header.ejs") %>
<div class="page">
<h1>Create Post page</h1>
<form action="/<%= userName %>/create" method="POST">
    <input type="text" name="post" id="" value="">
    <input type="submit" name="create" id="" value="Create" class="button">
    <a href="/<%= userName %>" 
       onclick="return confirm('Cancel creating a post?')" class="button">Cancel</a>
</form>
</div>

<%- include("partials/footer.ejs") %>