<h1>Update Post page</h1>
<form action="/shaikhzuber2000@gmail.com/update" method="POST">
    <input type="text" name="post" id="" value="<%= post %>">
    <input type="text" name="postNumber" id="" value="<%= postNumber %>" hidden >
    <input type="submit" name="update" id="" value="update">
</form>
